@page "/backlog"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using TicketSystem.Services
@using TicketSystem.Models

@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject SprintService SprintService
@inject TicketService TicketService

@rendermode InteractiveServer
<h3>Backlog</h3>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authStateTask { get; set; }
    private int userId;
    private List<Ticket> Tickets = new List<Ticket>();
    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateTask;
        var user = authState.User;
        userId = Convert.ToInt32(user.FindFirst(ClaimTypes.NameIdentifier).Value);
        Tickets = await TicketService.GetByUserIdAsync(userId);
    }

}
